:host {
    color: white;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.movie-card {
    width: 300px;
    height: 350px;
    padding-inline: 2px;
    padding-block: 20px;
    border: 3px solid #f0131f;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2px #9f151c, inset 0px 0px 10px 0px #9f151c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movie-card img {
    height: 260px;
    border-radius: 1rem;
    background-color: black;
}

.movie-card img

.movie-card p {
    color: #f0131f;
    font-size: 20px;
    text-align: center;
}

.movie-card .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.movie-card .btn-container a:nth-child(2) {
    margin-left: 20px;
}

.btn {
    padding: 0.3rem 3.6rem;
    border: 2px solid #f0131f;
    color: #f0131f;
    font-family: 'Comic Neue', cursive;
    box-shadow: 0px 0px 10px 2px #9f151c, inset 0px 0px 10px 0px #9f151c;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    border-radius: 1rem;
    background: none;
    cursor: pointer;
}

.btn:hover {
    border-color: white;
    box-shadow: 0px 0px 6px 0px #ffffff, inset 0px 0px 10px 0px #ffffff;
    color: white;
}

.btn:active {
    transform: scale(0.95);
}