:host {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

img {
    height: 50vh;
    border-radius: 0.5rem;
    align-self: center;
}