* {
    font-family: 'Rusty Hooks', sans-serif;
}

body {
    background-image: url(./imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: top;
}

.icono img {
    height: 6vh;
    margin: 0px 10px 10px 10px;
}

h1 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCerrarSesion {
    background-color: rgb(11, 36, 77);
    color: white;
    border: 4px solid white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
}

.btnCerrarSesion:hover {
    background-color: white;
    color: rgb(11, 36, 77);
    border: 2px solid rgb(11, 36, 77);
    transition: 0.3s;
    box-shadow: 0px 0px 20px 0px #444;
}

.avance-container {
    height: 60px;
    position: relative;
    background-color: rgba(0,0,0,0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avance-container::after {
    content: '';
    width: 700px;
    height: 700px;
    position: absolute;
    background-image: conic-gradient(transparent,white,transparent, orange);
    animation: animate 8s linear infinite;
    animation-delay: -4s;
}

.avance-container::before {
    content: '';
    width: 700px;
    height: 700px;
    position: absolute;
    background-image: conic-gradient(transparent,orange,transparent, white);
    animation: animate 8s linear infinite;
}

@keyframes animate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.avance-container span {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: black;
    z-index: 1;
}

.avance-container .avance {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 1.5vw;
}

.zonaJuego {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}

.letra {
    font-weight: bolder;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    background-color: rgb(255, 185, 56);
    border: 2px solid orangered;
    box-shadow: -2px 2px 10px 2px rgba(55, 55, 55, 0.712);
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.letra:hover {
    background-color: rgb(255, 224, 166);
    border: 2px solid orangered;
    box-shadow: -3px 3px rgba(55, 55, 55, 0.712);
    transition: 0.3s;
}

.letra:disabled {
    background-color: rgb(130, 84, 0);
    color: rgb(66, 48, 13);
    height: 44px;
    width: 44px;
    border: 2px solid transparent;
}

.letra:disabled:hover {
    box-shadow: -2px 2px rgba(55, 55, 55, 0.712);
    background-color: rgb(130, 84, 0);
}

.containerLetras {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.palabraAdivinar {
    font-size: 30px;
    letter-spacing: 5px;
}

.hidden {
    display: none;
}

.btnNuevaPartida {
    margin-left: 20px;
}

.btnVolverInicio, .btnNuevaPartida{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color:rgb(11, 36, 77);
    border-radius: 10px;
    border: 4px solid rgb(11, 36, 77);
    transition: 0.3s;
}

.btnVolverInicio:hover, .btnNuevaPartida:hover {
    background-color: rgb(11, 36, 77);
    color: white;
    border-color: white;
    transition: 0.3s;
    box-shadow: 0px 0px 20px 0px #444;
}