:root {
    --principal: #071835;
    --secundario: #19606e;
    --terciario: #e4d4b5;
    --azul: #b5d6e4;
    --blanco: #e9e9e9;

}

body {
    font-weight: 500;
    background-image: url(./imagenes/fondo6.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    animation: transitionIn 0.5s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.icono img {
    height: 6vh;
    margin: 0px 10px 10px 10px;
}

h1 {
    font-family: 'Short Stack', cursive;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.btnSesion {
	background-image: linear-gradient(90deg, var(--principal) 10%, var(--secundario) 108%);
	border-radius: 20px;
	border: 2px solid var(--blanco);
	color: var(--blanco);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bolder;
	letter-spacing: 0.1rem;
	padding: 0.9rem 3rem;
	text-transform: uppercase;
    margin-top: 35px;
	transition: transform 80ms ease-in;
}

.btnSesion:active {
	transform: scale(0.95);
}

.btnSesion:focus {
	outline: none;
}

.btnSesion:hover {
    box-shadow: 0 0 10px 0 var(--secundario), inset 0 0 8px 0 var(--azul);
    border: 2px solid var(--blanco);
}

#btnIniciarSesion {
    height: 60px;
    width: 50%;
}

.main {
    height: 80vh;
}

.formPartida {
    background-color: var(--principal);
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25), inset 0px 0px 20px 2px var(--secundario);
    border: 4px solid var(--blanco);
    height: 400px;
    width: 450px;
    color: var(--blanco);
}

.formInicioSesion {
    background-color: var(--principal);
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25), inset 0px 0px 20px 2px var(--secundario);
    border: 4px solid var(--blanco);
    height: 400px;
    width: 670px;
    color: var(--blanco);
}

.infoAhorcado {
    margin: 15px;
}

.infoAhorcado p {
    text-indent: 20px;
    text-align: justify;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-label {
    font-size: 1.5rem;
}

.button {
	background-image: linear-gradient(90deg, orange 0%, var(--terciario) 108%);
	border-radius: 20px;
	border: 2px solid orangered;
	color: var(--principal);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
    width: 80%;
    height: 45px;
    margin: 10px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.button:hover {
    box-shadow: 0 0 10px 0px rgb(255, 213, 136), inset 0 0 6px 0 var(--blanco);
    border: 2px solid var(--blanco);
    transform: scale(1.05);
    transition: transform 80ms ease-in;
}

.button:active {
	transform: scale(0.95);
}

.button:focus {
	outline: none;
}

.oculto {
    display: none;
}