:host {
    height: 100%;
    color: white;
    text-align: justify;
    background-image: linear-gradient(0deg, #000000d5 0%, #000000d5 100%), url("https://wallpapers-hub.art/wallpaper-images/88456.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}