:host {
    background-image: linear-gradient(0deg, #0000007d 0%, #0000007d 100%) ,url("../../imgs/marvel-wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
}