@charset "UTF-8";
*{
    padding:0;
    border:0;
    box-sizing:border-box;
    font-family: Palatino, URW Palladio L, serif;
}
h3 {
    color: #045600;
}
#enunciado,h1{
    color: #338c48;
}
p{
    font-weight: 600;
}