:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 35vw 30vw 35vw;
}

.img-container {
    grid-column: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    height: 60px;
}

.button-container {
    grid-column: 3/4;

    display: flex;
    justify-content: end;
    align-items: center;
}

.btn {
    border: 2px solid #f0131f;
    border-radius: 0.5rem;
    gap: 5px;
    background-color: black;
    color: #f0131f;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    font-weight: bolder;
    font-size: 16px;
    padding: 0.5rem 1rem;
    margin-right: 20px;
}

.btn:hover {
    border-color: #f0131f;
    color: white;
    background-color: #f0131f;
}

.btn:active {
    transform: scale(0.97) translateY(3px);
}