body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logs {
    width: 20vw;
    height: 30vh;
    overflow: scroll;
}

td:active {
    background-color: blue;
}

.habitaciones button {
    height: 33px;
    width: 150px;
}

.logs {
    background-color: grey;
    padding: 1rem;
}